@use "../variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


* {
  $text-font: "Press Start 2P", cursive;
}

h2 {
  color: $highlight-color;
  text-align: center;
}
