@use "../../assets/styles/variables" as *;
.home-page{
  height: 100vh;
  width: 100vw;
  color: $background-color;

  &__h2{
    color: $text-color;
    &-highlight{
      color: $highlight-color;
    }
  }
  
}