@use "../../assets/styles/variables" as *;
@use "../../assets/styles/base/reset" as *;
@use "../../assets/styles/base/typography" as *;

.experience-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
  &__text-container {
    width: 90vw;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    color: $text-color;
    :nth-child(2) {
      text-align: center;
    }
    .highlight-text {
      color: $highlight-color;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 6.25rem 6.25rem 6.25rem;
    grid-template-rows: 1fr 1fr 1fr;
    color: $text-color;
  }
}

@media only screen and (min-width: 768px) {
  .experience-page {
    &__text-container {
      margin-top: 1.5rem;
      height: 20vh;
      font-size: larger;
      text-align: left;
    }
    &__container {
      display: flex;
      height: 50vh;
      align-items: center;
      gap: 2rem;
    }
  }
}
