@use "../../assets/styles/variables" as *;
@use "../../assets/styles/base/reset" as *;
@use "../../assets/styles/base/typography" as *;

.project-page {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
 
  &__carousel {
    background-color: $highlight-color;
    margin-top: 7rem;
    width: 100vw;
    height: 50vh;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__arrow {
      padding: 1rem;
      color: $background-color;
      &:hover {
        cursor: grab;
        background-color: $pink-color;
        border: solid $text-color 3px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .project-page {
    &__carousel {
      height: 60vh;
    }
  }
}
