@use "../../assets/styles/variables" as *;
@use "../../assets/styles/base/reset" as *;
@use "../../assets/styles/base/typography" as *;

.burger-menu{
  display: flex;
  justify-content: flex-end;
  background-color: $background-color;
  &__icon{
    color: $text-color;
    &:hover{
      color: $highlight-color;
      cursor: grab;
    }
  }
  
}

@media only screen and (min-width: 768px) {
  .burger-menu{
    display: none;
  }
}